:8080 {
  encode gzip

  @grafanaRoot path /grafana
  redir @grafanaRoot /grafana/ 308

  handle /api/* {
    reverse_proxy console-api:3001
  }

  handle /grafana/* {
    reverse_proxy grafana:3000
  }

  handle {
    reverse_proxy console-ui:3000
  }
}
