apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-collector-config
  namespace: {{ .Values.global.namespace }}
data:
  collector.yaml: |
    receivers:
      otlp:
        protocols:
          http:
            endpoint: 0.0.0.0:4318

    exporters:
      prometheus:
        endpoint: "prometheus:9090"
        resource_to_telemetry_conversion:
          enabled: true

      loki:
        endpoint: http://loki:3100/loki/api/v1/push
        labels:
          service: ${service.name}
          instance: ${service.instance.id}

      tempo:
        endpoint: http://tempo:4318
        tls:
          insecure: true

    processors:
      batch:

    extensions:
      health_check:
      pprof:
        endpoint: :1888
      zpages:
        endpoint: :55679

    service:
      extensions: [health_check, pprof, zpages]
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [tempo]
        
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]
        
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [loki]
